@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Address</h3>

<address>
   6 Misr Development Co.<br />
    Bldgs, 5th District, Heliopolis, <br />
    Cairo, Egypt
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:matef@barkotel.com">matef@barkotel.com</a><br />
    <strong>E-tutor:</strong> <a href="mailto:matef@barkotel.com">matef@barkotel.com</a>
</address>