
@{
    ViewBag.Title = "MyVideoSeries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <h2><i class='ion-ios-book-outline'></i>&nbsp;&nbsp;My Courses</h2>
    <h4>View your video series </h4>
</section>
<hr>






<table class=" table table-stripped table-hover responsive " id="courses"><thead><tr><th class="thlead"></th><th>Start Date</th><th>End Date</th></tr></thead><tbody></tbody></table>
<div class="quarter_page">&nbsp;</div>

@section scripts
{
    <script>
        $(document)
            .ready(function() {
                $("#courses")
                    .DataTable({
                            "bAutoWidth": false,
                            "bLengthChange": false,
                            "bFilter": true,
                            ajax: {
                                url: "/api/VideoSeries/MyVideoSeries",
                                dataSrc: ""
                            },
                            language: {
                                searchPlaceholder: "Subjects & Tutors"
                            },
                            columns: [
                                {
                                    data: "name",
                                    render: function(data, type, VideoSery) {
                                        var lockIcon;
                                        if (VideoSery.active)
                                            lockIcon =
                                                " &nbsp;&nbsp;<i class='ion-unlocked' style='color:#38b44a' ></i>";
                                        else {
                                            lockIcon = " &nbsp;&nbsp;<i class='ion-locked' ></i>";
                                        }
                                        return "<div class = '  dataTable_maininfo' onclick='location.href=&apos;/VideoSeries/VideoSery/" +
                                            VideoSery.Id +
                                            "&apos;' >" +
                                            "<div class='image-box'><div class=' image dataTable_image   ' style =' background-image: url(" +
                                            VideoSery.seryimage +
                                            ");'>&nbsp </div></div><div class='  col-lg-7 col-xs-7 col-sm-7 col-md-7 dataTable_videoSeryInfo'><strong>" +
                                            VideoSery.name +
                                            "</stong>" +
                                            lockIcon +
                                            "<h5> Mr. " +
                                            VideoSery.teacherName +
                                            "</h5>" +
                                            "<div  ><h5 class='dataTable_leftCorner'><i class='ion-play' ></i> &nbsp&nbsp" +
                                            VideoSery.videos +
                                            "   lectures  &nbsp&nbsp <i class='ion-clock' ></i> &nbsp&nbsp" +
                                            VideoSery.duration +
                                            "   hours</h5></div></div>";
                                    }
                                },
                                {
                                    data: "startdate",
                                    sType: "date",
                                    render: function(data, type, VideoSery) {
                                        var javascriptDate = new Date(data);
                                        javascriptDate = javascriptDate.getDate() +
                                            "/" +
                                            javascriptDate.getMonth() +
                                            "/" +
                                            javascriptDate.getFullYear();
                                        return "<div class= 'dataTable_secondaryinfo  dataTable_videoSeryInfo' onclick='location.href=&apos;/VideoSeries/VideoSery/" + VideoSery.Id + "&apos;'  > " + javascriptDate + "   </div>";
                                    }

                                },
                                {
                                    data: "enddate",
                                    sType: "date",
                                    render: function(data, type, VideoSery) {
                                        var javascriptDate = new Date(data);
                                        javascriptDate = javascriptDate.getDate() +
                                            "/" +
                                            javascriptDate.getMonth() +
                                            "/" +
                                            javascriptDate.getFullYear();
                                        return "<div class= 'dataTable_secondaryinfo  dataTable_videoSeryInfo' onclick='location.href=&apos;/VideoSeries/VideoSery/" + VideoSery.Id + "&apos;'  > " + javascriptDate + "   </div>";
                                    }
                                }
                            ]

                        }
                    );
            });

    </script>
}
