
@{
    ViewBag.Title = "VideoSeries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section><h2>Search Results For "@ViewBag.search"</h2>
<h4>Select a video series </h4></section>
<hr>






    <table class=" table table-stripped table-hover responsive " id="courses"><thead><tr><th class="thlead"></th><th>Enrollments</th><th>Price</th></tr></thead><tbody></tbody></table>
<div class="quarter_page">&nbsp;</div>

    @section scripts
{
        <script>
            $(document)
                .ready(function () {
                    $("#courses")
                        .DataTable({
                            "bAutoWidth": false, "bLengthChange": false,
                            "bFilter": true,
                            ajax: {
                                url: "/api/VideoSeries/search/@ViewBag.search",
                                dataSrc: ""
                            },
                            columns: [
                                {
                                    data: "name",
                                    render: function(data, type, VideoSery) {
                                        return "<div class = '  dataTable_maininfo' onclick='location.href=&apos;/VideoSeries/VideoSery/" + VideoSery.Id + "&apos;' >" +
                                            "<div class='image-box'><div class=' image dataTable_image   ' style =' background-image: url(" + VideoSery.seryimage + ");'>&nbsp </div></div><div class='  col-lg-7 col-xs-7 col-sm-7 col-md-7 dataTable_videoSeryInfo'><strong>" + VideoSery.name + "</stong> (" + VideoSery.programmName + ")<h5> Mr. " + VideoSery.teacherName + "</h5>" +
                                            "<div  ><h5 class='dataTable_leftCorner'><i class='ion-play' ></i> &nbsp&nbsp" + VideoSery.videos + "   lectures  &nbsp&nbsp <i class='ion-clock' ></i> &nbsp&nbsp" + VideoSery.duration + "   hours</h5></div></div>";
                                    }
                                },
                                {
                                    data: "enrollments",
                                    render: function (data,type,VideoSery)
                                    { return "<div class= 'dataTable_secondaryinfo  dataTable_videoSeryInfo' onclick='location.href=&apos;/VideoSeries/VideoSery/"+VideoSery.Id+"&apos;'  > " + data + "  students </div>"; }
                                   
                                },
                                {
                                    data: "price" ,
                                    render: function (data,type,VideoSery)
                                    { return "<div class= 'dataTable_secondaryinfo  dataTable_videoSeryInfo' onclick='location.href=&apos;/VideoSeries/VideoSery/" + VideoSery.Id + "&apos;'  > " + data + "  LE </div>"; }
                                }
                            ]

                        }
                    );
                });

        </script>
    }
