
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}
h4{
    font-size:18px;
}
h5{
    font-size:16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/*STACKOVERFLOW*/
/*override thead default nobr dropdown on hover bootstrap behaviour*/
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}


@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
/*MYCODE*/
navbar-brand{
    font-size:30px;
}
.navbar li > a {
    max-height: 52px;
}
.navbar-inverse  {
    background-color:rgba(74,189,172,0.7);
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #d34615;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}



@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: auto;
    }

    .navbar-collapse {
        width: auto;
        min-width: 500px;
    }
}
@media (max-width: 767px) {
    .navbar-inverse .in {
        background-color: rgb(0, 150, 136);
    }

    .collapsing {
        background-color: rgb(0, 150, 136);
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
        background-color: rgb(0, 150, 136);
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color:  rgb(0, 150, 136);
    color: #ffffff;
}
    .navbar-inverse .navbar-nav > li > #happy_btn:hover {
     background-color:  rgb(0, 150, 136);
}
}
/*CODEPEN*/
/*Image zoom on hover*/
.image-box {
    overflow: hidden;
    float: left;
}

.image {
    background-position: center;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.dataTable_maininfo:hover .image {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.white-space {
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.text_theme{color:#009688;}

.quarter_page {
    height: 25vh;
   clear: left; 

}

.navbar_noFix {
    position: absolute;
}

.header_image {
    background-image: url(https://3lemnyimages.blob.core.windows.net/mainpic/AlemniBg3.jpg);
    background-size: cover;
      background-color:rgba(74,189,172,0.1);
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.page {
    height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      text-align:center;
}





@media (min-width: 300px) {
    .center {
        width: 320px;
    }
     .center h1 {
        font-size: 25px;
        margin-bottom:40px;
    }
}

@media (min-width: 500px) {
    .center {
        width: 650px;
    }
     .center h1 {
        font-size: 30px;
        margin-bottom:40px;
    }
     
}


@media (min-width: 769px) {
    .center {
        width: 880px;
    }
     .center h1 {
        font-size: 40px;
        margin-bottom:20px;
    }

}

@media (min-width: 1026px) {
    .center {
        
         width: 1110px;
                
               
    }
    
     
}

@media (max-width: 992px) {
    .jumbotron p {
        
    display:none
}
     
}

.jumbotron p {

    margin-bottom: 20px;
    font-size:26px;
}



.btn-primary h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-primary {
    background-color: #e95420;
}

    .btn-primary:hover {
        background-color:  #e95420;
        border-color:  #e95420;
    }

.jumbotron .btn-primary {
    background-color: transparent;
    margin-right: 10px;
    border-color: #ffffff;
    border-width: 2.1px;
    font-weight: 100;
}

    .jumbotron .btn-primary:hover,.jumbotron .btn-primary.active {
        background-color: transparent;
       border-color: #d34615;
        color: #fff;
    }

 .jumbotron .btn-primary:active, .btn-primary:focus, .jumbotron .btn-primary.active, .jumbotron .open > .dropdown-toggle.btn-primary, .jumbotron .btn-nav-icon:hover,.jumbotron .btn-nav-icon:focus {
   color: #fff;
    background-color: transparent;
    border-color: #e95420;
}

    .jumbotron .btn-primary:active:hover, .jumbotron .btn-primary.active:hover, .jumbotron .open > .dropdown-toggle.btn-primary:hover, .jumbotron .btn-primary:active:focus,  .jumbotron .btn-primary.active:focus, .jumbotron .open > .dropdown-toggle.btn-primary:focus, .jumbotron .btn-primary:active.focus, .jumbotron .btn-primary.active.focus, .jumbotron .open > .dropdown-toggle.btn-primary.focus {
       color: #fff;
        background-color: transparent;
       border-color: #e95420;
    }



#ig_button {

    
}

@media (max-width: 450px) {
    .jumbotron{
         
        align-content:center;
    }
    .jumbotron .btn-primary {

        
        font-size: 10px;
   
   

}
    #ig_button {
    margin-left: 24px;
}
}







#happy_btn {
    padding-bottom: 11px;
}

.ion-happy {
    font-size: 22px;
}

.nav-icon {
    color: white;
    font-size: 20px;
}

#registerLink:before {
    padding-left: 15px;
}

.btn-nav-icon {
    background-color: transparent;
    margin: -2px;
}
.btn-nav-icon:hover, .btn_videoSery:active {
        background-color: #d34615;
    }


.search-resize {
      width: 160px;
      float: left;
}
@media (max-width: 992px) {
    .search-resize {
        width: 120px !important;
    }

    #registerLink{
        display:none;
    }
    .nav > li > a {
      
        padding-right:10px;
        padding-left:15px;
    }

    .navnar-collapse, .collapse {
        margin-left: -40px;
    }

    .navbar-right {
        float: none !important;
    }
}

@media (max-width: 768px) {
    .search-resize {
        width: 135px !important;
    }
}


.header_bar {
    Padding-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: solid #a9a9a9 1px;
    left: 0;
    top: 0;
    background: #f5f5f5;
    color: #696969;
}

.header_bar_space {
    height: 140px;
    z-index: -1;
}

th {
    color: #212121;
    border-bottom: 0px;
}
#courses td {
    
    max-width: 150px;
    cursor:pointer;
}

#courses .sorting_1 {
    max-width: 100%;
         min-width: 300px;
}
       .row{
             margin-right: 0px;
        
    }
             #courses .dataTable_videoSeryInfo {
         
       
   
    }
                    #courses ul li {
           max-height: 50px;
    
    }
@media (max-width: 500px) {
   #courses .sorting_1 {
        min-width: 200px;
       margin: auto;
    
    }

      #courses .image,  #courses .image-box{
          padding: 2px;
          min-width: 90px;
          display: none;
        
    }

         .navbar-toggle{
             margin-right: 20px;
        
    }

      #courses .dataTable_videoSeryInfo {
          min-width: 250px;
       
   
    }
        #courses .dataTable_leftCorner {
           
    }
}

.table > thead > tr > th {
    background: transparent;

}

.table > thead > tr > .thlead {
    width: 55%;
}

.secondary_head{
    width:20%;
    max-width:20%;

}
.dataTable_maininfo {
    cursor: pointer;
    overflow:auto;
     
    min-width: 600px;
}


    .dataTable_maininfo:hover ~.image {
    }

.dataTable_videoSeryInfo {
    color: #212121;
    height: 110px;
    min-width: 208px;
    
    margin-left:30px;
}

.dataTable_image, .image-box {
    background-color: #B2dfdb;
    height: 110px;
    width: 200px;
    padding: 0;
    background-size: cover;
    background-position: center;
}

@media (max-width: 992px) {
    .dataTable_image, .dataTable_videoSeryInfo, .image-box {
        height: 130px;

    }

    .dataTable_image, .image-box {
        width: 200px;

    }

    .dataTable_videoSeryInfo {
        width: 100px;
    }

    .dataTable_maininfo {
        cursor: pointer;
        min-width: 400px;
    }
}

@media (max-width: 440px) {
    .dataTable_image, .image-box {
        width: 100px;
    }

    .dataTable_videoSeryInfo {
        width: 50px;
    }

    .dataTable_maininfo {
        min-width: 200px;
    }
}



.dataTable_leftCorner {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #757575;
}

.dataTable_secondaryinfo {
    cursor: pointer;
   
}



*:focus {
    outline: none;
}

.VideoSery_image {
    background-size: cover;
    background-position: center;
    height: 42vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.videoSery_jumbotron {
    background-color: transparent;
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn_videoSery {
    background: #e95420;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%,-50%);
    margin-top: 7vh;
    margin-left: 50%;
    border-radius: 0px;
}

    .btn_videoSery:hover, .btn_videoSery:active {
        background-color: #d34615;
    }

.VideoSery_summaryTab {
    top: 42vh;
  
    position: relative;
    right: 0;
    width: 100%;
}

.VideoSery_summaryIcons {

    padding: 10px;
    max-width: 100% !important;
}

.VideoSery_body {
 margin-top:20px;
}

#VideoSery_enrollments {
    margin-right: 0px;
    padding-right: 0px;
   
}
.VideoSery_video {
  
    height: 53vh;
    max-height:800px;

}
.azuremediaplayer  {
    background-color:#ffffff !important;


}
.azuremediaplayer .vjs-tech {
    background-color:#ffffff !important;
 

}

@media (max-width: 768px) {
.VideoSery_body {
    
}


}
@media (max-width: 500px) {

.VideoSery_video {
    background-color: transparent;
    height: 55vh;
}

}

 #lecture_header{
    text-align: center;
  
}
  #lecture_header h1{
    border-bottom:0.5px solid #999999;
    display:inline-block;
    margin-bottom:20px;
  
}

  .VideoSery_body .teacher_box{
    position:absolute;
    top:40px;
       z-index:1000;
       display:inline-block;
  }
.VideoSery_body .teacher_link{
    margin-bottom:10px;
 
    width:60px;
    height:60px;
}

.VideoSery_sidebar-col {

    
}
 .lectures {
height:54vh;
overflow-y:scroll;
 }
list-group-item-heading{
    display:inline-block;
}
.badge_joined{
    background-color:#009688;
    float:right;
}
.badge_take_class{
    background-color:#d34615;
    float:right;
}

.rating_stars {
    clear: both;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
.caption{
    display:none;
}
#comments-container {
    clear:both;
}
.jquery-comments .commenting-field.main {
    margin-bottom: 40px;
    margin-bottom: 10px;
}

td > .dropdown-menu {
    left: auto;
    margin-top: 10px;
    top: auto;
}

@media(max-width: 580px) {
    table.dataTable > tbody > tr.child ul .dropdown-menu, table.dataTable > tbody > tr.child ul .caret {
        display: none;
    }

    table.dataTable > tbody > tr.child ul a {
        pointer-events: none;
        cursor: default;
    }
}

td input {
    min-width: 80px;
    max-width: 100px;
}

.program_title{

    width:100%;
 
background-size:cover;
background-position:center;
    padding-top:80px;
    color:#FFFFFF;
   
    padding-bottom:80px;
    position : absolute;
    z-index:-1;
    left:0;
    top:0;
   
}
.program_title h1{
 
   
    color:#FFFFFF;
        position: absolute;
    
    left: 50%;
    transform: translate(-50%,-50%);
}
.subject_list{
    margin-top: 170px;
 
  
}
.subject_list_button {
    cursor:pointer;
    margin:auto;
    color:transparent;
        margin-bottom:5px;
        margin-top:0px;
        background-color:rgba(74,189,172,0.7);
     
    background-size: cover;
    background-position: center;
    
    align-content:center;
    width:200px;
    height:140px;
    
    text-align:center;
}
.subject_list ul{

   height:180px;
    /*max-height:280px;*/
    /*overflow:auto;*/
}
.bx-wrapper .bx-viewport{
    box-shadow: none;
    border:none;

}
.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    /* box-shadow: 0 0 5px #ccc; */
    /* border: 5px solid #fff; */
}
.subject_list h4{
        text-align:center;
   
}
.subject_list li{
    margin-bottom:20px;
    text-align:center;
}




.teacher_list h4{
    margin-top:40px;
        text-align:center;
        clear:left;

}

.teacher_list_button {
    cursor:pointer;
    margin:auto;
    color:transparent;
        margin-bottom:40px;
        margin-top:0px;

     
    background-size: cover;
    background-position: center;
    border-radius:50%;
    align-content:center;
    
    text-align:center;
}
.teacher_list .teacher_list_button {
     display:block;
         width: 100px;
    height: 100px;
}
.teacher_list_button_label {
    position: absolute;
    margin-top: 110px;
    transform: translate(-50%,0);
}
#program_courses{
    margin-top:50vh;
}



.teacher_image {
    background-size: cover;
    background-position: center;
    height: 42vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.teacher_jumbotron {
    background-color: transparent;
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.teacher_pic {

    position:absolute;
      top: 28vh;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
       background-image: linear-gradient(rgba(18, 151, 147,0.1),rgba(18, 151, 147,0.1)),url(https://3lemnyimages.blob.core.windows.net/teacherphotos/amani-rsz_burned.jpg);
    background-size: cover;
    background-position: center;
    border-radius:50%;
  
}

.teacher_summaryTab {
    top: 42vh;
  
    position: relative;
    right: 0;
    width: 100%;
}
.teacher_summaryIcons {

    padding: 10px;
    max-width: 100% !important;
}
.teacher_summaryIcons ul {
        margin-top:10vh;

    
  
}
.teacher_summaryIcons ul .left_tab{

    margin-left:50%;
        
  
}
.teacher_summaryIcons ul li{

    
        transform: translate(-100%,0%);
  
}



.teacher_summaryIcons div {

    text-align:center;
}
.teacher_body {
    margin-top: 43vh;
}

#teacher_enrollments {
    margin-right: 0px;
    padding-right: 0px;
   
}
#teacher_courses{
    margin-top:50vh;
}
@media(max-width: 768px) {
    #teacher_courses {
        margin-top: 60vh;
    }
    }
@media(max-width: 750px) {
    #teacher_courses {
        margin-top: 80vh;
    }
}
@media(max-width: 360px) {
    #teacher_courses {
        margin-top: 78vh;
    }
}
    #teacher_courses div {
    }

    #teacher_courses .table > thead > tr > th, .table > tbody > tr > th, #teacher_courses.table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: none;
    }

    .subject_image {
        background-size: cover;
        background-position: center;
        height: 27vh;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }


    .subject_summaryTab {
        top: 26vh;
        visibility: hidden;
        position: relative;
        right: 0;
        width: 100%;
    }

    .subject_summaryIcons {
        padding: 10px;
        max-width: 100% !important;
    }

        .subject_summaryIcons ul {
            margin-top: 10vh;
        }

            .subject_summaryIcons ul .left_tab {
                margin-left: 50%;
            }

            .subject_summaryIcons ul li {
                transform: translate(-100%,0%);
            }



        .subject_summaryIcons div {
            text-align: center;
        }

    #subject_enrollments {
        margin-right: 0px;
        padding-right: 0px;
    }

    #subject_courses {
        margin-top: 30vh;
    }

        #subject_courses div {
        }

/* Multiple choice Quiz page
*
*
*
*
*
*
*/

.multiple_choice_container{
    height: 85vh ;
    overflow-y:auto;
    clear:right;
}


.multiple_choice_container {
 
    position: relative;
    margin: 40px auto;
    margin-top:0px;

}

.multiple_choice_container h2 {
    color: #AAAAAA;
}

    .multiple_choice_container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
    }

.multiple_choice_container ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #333;
}

    .multiple_choice_container ul li input[type=radio] {
        position: absolute;
        visibility: hidden;
    }

    .multiple_choice_container ul li label {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1em;
        padding: 25px 25px 25px 80px;
        margin: 10px auto;
        height: 15px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
    }

    .multiple_choice_container ul li:hover label {
        color: rgba(74,189,172,0.7);
    }

    .multiple_choice_container ul li .check {
        display: block;
        position: absolute;
        border: 5px solid #AAAAAA;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        top: 30px;
        left: 20px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
    }

    .multiple_choice_container ul li:hover .check {
        border: 5px solid rgba(74,189,172,0.7);
    }

    .multiple_choice_container ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 15px;
        width: 15px;
        top: 5px;
        left: 5px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }

    .multiple_choice_container  ul input[type=radio]:checked ~ .check {
        border: 5px solid #0DFF92;
    }

        .multiple_choice_container input[type=radio]:checked ~ .check::before {
            background: #0DFF92;
        }

.multiple_choice_container input[type=radio]:checked ~ label {
    color: #0DFF92;
}